body {
    margin: 0px;
    padding: 0px;
    font-family: "Hanken Grotesk", sans-serif;
}

nav {
    margin: 0px;
    padding: 0px;
    background-color: rgb(230, 230, 230);
    text-align: center;
    padding: 10px;
}

nav a {
    margin: 0px;
    padding: 0px;
    color: black;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    transition: border-radius .15s ease-in-out;
}

nav a:hover {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(192, 192, 192);
    border-radius: 20px;
}

main {
    padding: 0px;
    margin: 0px;
    background-color: rgb(240, 240, 240);
}


.nome {
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-weight: 900;
}

img {

    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 50px;
    transition: border-radius, .35s ease-in;
}

img:hover {
    border-radius: 100px;
}

.conteudo {
    margin: 0px;
    padding: 0px;
    color: rgb(37, 37, 37);
}

.sobre-mim {
    text-align: justify;
    width: 1200px;
    margin: 20px 10px;
    padding: 5px;
}

.resido {
    padding: 20px;
    text-align: center;

}


#habilidades {
    width: 400px;
    border: 1px solid red;
    color: rgb(37, 37, 37);
    background-color: #fff;
    text-align: center;
}

.javascript,
.css,
.html {
    padding: 10px;
    list-style-type: none;
}