:root {
    --cor-azul: rgb(0, 45, 168);
    --cor-fundo: rgb(240, 240, 240);
    --cor-escura: rgb(37, 37, 37);
}

body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: var(--cor-fundo);
}

nav {
    margin: 0px;
    padding: 0px;
    background-color: rgb(230, 230, 230);
    text-align: center;
    padding: 10px;
}

nav a {
    margin: 0px;
    padding: 0px;
    color: black;
    display: inline;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    transition: border-radius .15s ease-in-out;
}

nav a:hover {
    color: #fff;
    padding: 5px;
    text-decoration: none;
    background-color: var(--cor-escura);
    border-radius: 20px;
}

main {
    padding: 0px;
    margin: 0px;
}

.nome {
    color: var(--cor-escura);
    margin: 0px;
    padding: 35px;
    font-size: 50px;
    text-align: center;
    font-weight: 900;
}

.conteudoGeral {
    margin: 0px 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}


img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 50px;
    transition: border-radius, .35s ease-in;
}

img:hover {
    border-radius: 150px;
}

.conteudo {
    margin: 20px 50px;
    padding: 0px;
    color: var(--cor-escura);
}

.sobre-mim {
    text-align: justify;
    margin: 0px 20px;
    padding: 5px;
}

strong {
    color: var(--cor-azul);
}

.resido {
    text-align: center;
    margin: 0px;
    padding: 20px;
}


.resido a {
    color: var(--cor-escura);
    text-decoration: none;
}

.resido a:hover {
    color: var(--cor-azul);
}


.listaHabilidades {
    color: #fff;
    margin: 0px
}

.lista {
    align-items: center;
    justify-content: center;
    display: flex;
}

#habilidades {
    background-color: rgb(214, 214, 214);
    border-radius: 20px;
    color: var(--cor-escura);
    margin: 10px;
    padding: 10px;
    width: 4000px;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    transition: width 1s ease-in-out;
    transition-duration: 1s;
    cursor: pointer;
}

#habilidades:hover {
    transition-delay: .15s;
    width: 300px;
    border-radius: 20px;
}


ul {
    margin: 0px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.javascript,
.css,
.html {
    margin: 5px;
    padding: 10px 2.5px;
    width: 200px;
    text-align: center;
    background-color: var(--cor-escura);
    justify-content: center;
    list-style-type: none;
    border-radius: 25px;
    transition: width .25s ease-in-out;
}

.javascript:hover {
    width: 100px;
    color: #fff;
    background-color: var(--cor-azul);
    cursor: pointer;
}

.css:hover {
    width: 100px;
    color: #fff;
    background-color: var(--cor-azul);
    cursor: pointer;
}

.html:hover {
    width: 100px;
    color: #fff;
    background-color: var(--cor-azul);
    cursor: pointer;
}

.behanceContainer {
    margin: 0px;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#behance {
    margin: 0px;
    padding: 0px;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background-color: var(--cor-escura);
    border-radius: 15px;
    width: 100px;
    transition: background-color, border-radius .25s ease-in-out;
}

#behance:hover {
    color: #fff;
    background-color: var(--cor-azul);
    border-radius: 30px;
}