body {
    margin: 0px;
    padding: 0px;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: rgb(240, 240, 240);
}

nav {
    margin: 0px;
    padding: 0px;
    background-color: rgb(230, 230, 230);
    text-align: center;
    padding: 10px;
}

nav a {
    margin: 0px;
    padding: 0px;
    color: black;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    transition: border-radius .15s ease-in-out;
}

nav a:hover {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(37, 37, 37);
    border-radius: 20px;
}

main {
    padding: 0px;
    margin: 0px;
}


.nome {
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-weight: 900;
}

img {

    width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 50px;
    transition: border-radius, .35s ease-in;
}

img:hover {
    border-radius: 150px;
}

.conteudo {
    margin: 0px;
    padding: 0px;
    color: rgb(37, 37, 37);
}

.sobre-mim {
    text-align: justify;
    width: 1200px;
    margin: 20px 10px;
    padding: 5px;
}

.resido {
    text-align: center;
    margin: 0px;
    padding: 20px;
}


.resido a {
    color: rgb(37, 37, 37);
    text-decoration: none;
}


.listaHabilidades {
    color: #fff;
    margin: 0px
}

.lista {
    align-items: center;
    justify-content: center;
    display: flex;
}

#habilidades {
    background-color: rgb(214, 214, 214);
    border-radius: 20px;
    color: rgb(37, 37, 37);
    margin: 10px;
    padding: 10px;
    width: 4000px;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    transition: color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    transition: width 1s ease-in-out;
}

#habilidades:hover {
    transition-delay: 1s;
    width: 300px;
    color: #fff;
    background-color: rgb(37, 37, 37);
    border-radius: 20px;
}

ul {
    margin: 0px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.javascript,
.css,
.html {
    margin: 5px;
    padding: 10px 2.5px;
    width: 200px;
    text-align: center;
    background-color: rgb(37, 37, 37);
    justify-content: center;
    list-style-type: none;
    border-radius: 25px;
}

.javascript:hover  {
    color: #fff;
    background-color: rgb(250, 103, 255);
    cursor: pointer;
}

.css:hover  {
    color: #fff;
    background-color: rgb(250, 103, 255);
    cursor: pointer;
}

.html:hover  {
    color: #fff;
    background-color: rgb(250, 103, 255);
    cursor: pointer;
}

.behanceContainer {
    margin: 0px;
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#behance {
    margin: 0px;
    padding: 0px;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background-color: rgb(37, 37, 37);
    border-radius: 15px;
    width: 100px;
    transition: background-color, border-radius .25s ease-in-out;
}

#behance:hover {
    color: #fff;
    background-color: rgb(250, 103, 255);
    border-radius: 30px;
}